.he{
    background-color: rgb(14, 68, 68);
    text-align-last: center;
    color: rgb(17, 107, 17);
    font-size: 22px;
    border: solid rgb(76, 76, 76);
}
body{
    background-color: rgb(237, 237, 237);
    color: rgb(10, 37, 117);
}